<style>
body{
  margin:0;
  
}
h1{
    text-align: center;
    font-size: 80px;
    color: white;
    border-bottom:solid 2px white;
    margin: 0;
    padding-bottom: 10px;
    
     
}
#di{
    font-size: 50px;
    background-color: black;
    color: #e4ba48;
    padding: 50px;
    
}
#s1
{
    text-align: right;
    color: blue;
}
#red
{
    color: red;
}
#blue
{
    color: blue;
}

td {
    border-width:1px;
    border-color: black;
    border-style:solid;
    text-align: center;
    border-style: none;
    font-size: 30px;
    border: 50px;
    padding: 15px;
    }

table{
    margin-top:10px; 
    margin-left:300px;
    width: 150px;
    background-color: #e4ba48;
    
    
}

</style>